body {
    margin: 0;
    padding: 5px;
}

.main {
    min-width: 900px;
}

.browser {
    display: inline-block;
    height: 126px;
    width: 126px;
    overflow: hidden;
    margin-right: 10px;
}

.name {
    text-align: center;
}

.name span {
    vertical-align: middle;
}
/*Местоположение ie*/
.ie {
    float:right;
}

/*Цвета для имен браузеров*/

.green {
    color:green;
}

.red {
    color: rgb(193, 14, 14);
}

.orange {
    color: orange;
}

.darkOrange {
    color: rgb(242, 164, 20);
}

.grey {
    color: rgb(131, 131, 131);
}

.black {
    color: rgb(0, 0, 0);
}

.ie span {
    display: block;
    color: rgb(53, 138, 181);
}